/*
Structures.rc
Crate file for the library
*/

#[link(name = "structures", vers = "0.1", author = "pdn")];
#[crate_type = "lib"];

pub mod trees
{
     mod bst;
     mod llrb;
     mod dbl_linked;
}

pub mod linear
{
     mod circular;
}
